@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #e0d3aa;
  --primary-dark: #b29961;
  --secondary: #272526;
  --secondary-dark: #000205;
  --tertiary: #f2ebe2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  min-height: 100%;
}

.header {
  left: 0;
  text-align: left;
  background-color: var(--primary);
  color: var(--secondary);
}

.heading {
  background-color: var(--primary);
  font-size: 3rem;
  color: var(--secondary);
}

.contact-me {
  background-color: var(--primary-dark);
  font-size: 1.5rem;
  color: var(--secondary-dark);
}

.footer {
  margin-top: 1rem;
  padding: 1rem;
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: var(--primary-dark);
  color: var(--secondary-dark)
}
.footer-absolute {
  position: absolute;
}

.extraPadding {
  padding-bottom: 8rem;
}